html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Calibri, sans-serif;
	background-color: white;
	background-image: linear-gradient(to bottom, rgb(195,215,255) 10%, rgb(255,255,255) 30%);
	color: rgb(20,20,20);
}
#container {
	max-width: 100%;
}
main {
	padding: 80px;
}
article {
	min-height: 50px;
}