html, body {
	height: 100%;
	margin: 0;
	padding: 0;	
}
body {
	font-size: 16px;
	font-family: Calibri, Arial, sans-serif;
	display: flex;
	flex-direction: column;
}
#container {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	flex: 1 0 auto;
}
header {
	min-height: 40px;
}
ol.breadcrumbs {
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
ol.breadcrumbs>li {
	padding-right: 5px;
}
#products {
	min-height: 400px;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#products article {
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;	
	flex-basis: 25%;
	width: 33%;
}
article img, article span {
	display: block;
	margin: 4px 0;
}
article img {
	box-shadow: 4px 4px 4px darkgray;
}
.console {
	font-size: 0.8em;
	color: darkgray;
}
.name {
	font-size: 1.1em;
	font-weight: bold;
}
.price {
	color: tomato;
	align-self: flex-end;
}
article:nth-child(2){
	order: 1;
}
article:nth-child(4){
	order: 2;
}
article:nth-child(6){
	order: 3;
}
article:nth-child(5),article:nth-child(8){
	order: 4;
}
article:nth-child(7){
	order: 5;
}
article:nth-child(1){
	order: 6;
}
article:nth-child(3){
	order: 7;
}
footer {
	width: 100%;
	height: 30px;
	background-color: lightgray;
	flex-shrink: 0;
}