
html, body {
    font-size: 20px;
    background-color: gray;
}

.icons {
    letter-spacing: 0px;
    padding: 20px;
    font-size: 3.0em;
}

#spaghetti-monster {color:rgba(83, 73, 105, 0.815);text-shadow: 3px 3px 8px rgb(255, 137, 69) ;font-style: italic;}
#biohazard { color: green; text-shadow: 2px 2px 2px hsl(90, 100%, 50%, 0.5);}
#wafel { color:mediumaquamarine;}
#explosion {color:#ff9a00; text-shadow: 4px 4px 4px rgba(220, 20, 60, 0.9);}
#broadcast {color:silver; text-shadow: 2px 2px 20px #27a6d8 ;}

a {
    text-decoration: none;
    color: black;
}
.facebook-icon {
    color:#3b5998;
}
.linkedin-icon {
    color: #0e76a8;

}
.wikipedia-icon {
 color: #C7C8CA;
}
.google-icon {
    color: #DB4437;
}
.deviantart-icon {
    color: #05CC46;

}
button:hover {
    cursor: pointer;
}
button {
    font-size: 20px;
    background-color:black;
    border: hidden;
    color: mintcream;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
#heart { 
    color: red;
}
#phone { 
    color: rgb(202, 161, 85);
}
#ghost { 
    color: slateblue;
}
#slack {
    color: tomato;
}
#plane { 
    color: mintcream;
}


