body {
	font-family: Calibri, Verdana, sans-serif;
	font-size: 20px;
}
#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	perspective: 100px;
}
.kader {
	position: relative;
	height: 300px;
	width: 300px;
	margin: 25px;
	border: 1px solid black;
	perspective: 100px;
	background-color: lightgrey;
}

.blokje {
	height: 100px;
	width: 100px;	
	position: absolute;
	left: 100px;
	top: 100px;
	border: 1px solid black;
	background: rgba(100,100,100,0.5);
	background: linear-gradient(to bottom, tomato, orange, mediumseagreen, dodgerblue, violet);
}
#container>.kader:nth-of-type(1)>.blokje {
	transform: rotatex(45deg);
}
#container>.kader:nth-of-type(2)>.blokje {
	transform: rotateY(-30deg);
}
#container>.kader:nth-of-type(3)>.blokje {
	transform: rotatez(90deg);
}
#container>.kader:nth-of-type(4)>.blokje {
	transform: rotateY(75deg);
}
#container>.kader:nth-of-type(5)>.blokje {
	transform: rotatex(15deg) rotateZ(45deg);
}
#container>.kader:nth-of-type(6)>.blokje {
	transform: rotateX(-30deg) rotateY(60deg) rotateZ(180deg);
}
#container>.kader:nth-of-type(7)>.blokje {
	transform: rotateX(45deg) rotateY(-30deg) rotateZ(-45deg);
}
#container>.kader:nth-of-type(7)>.blokje:active{
	transform: rotateX(285deg) rotateY(360deg) rotateZ(300deg);
	transition: 3s linear;
	transition-timing-function: steps(60);
}
#container>.kader:nth-of-type(8)>.blokje {
	transform: rotateX(-75deg) rotateY(-0deg) rotateZ(-60deg)
}
#container>.kader:nth-of-type(8)>.blokje:active  {
	transform: rotateX(-345deg) rotateY(-315deg) rotateZ(-360deg);
	transition: 6s ease-out;
	transition-timing-function: steps(260);
	filter: drop-shadow( 0px 0px 5px gray);
}
/* #container>.kader:nth-of-type(9) .blokje:nth-of-type(1), #container>.kader:nth-of-type(9) .blokje:nth-of-type(2) {
	transform: rotateX(45deg) rotateY(-30deg) rotateZ(-45deg);
}
#container>.kader:nth-of-type(9):active .blokje:nth-of-type(1){
	transform: rotateX(330deg) rotateY(300deg) rotateZ(180deg);
	transition: 6s ease-out;
	transition-timing-function: steps(260);
	filter: drop-shadow( 0px 0px 5px lightslategray);
} 
#container>.kader:nth-of-type(9):active .blokje:nth-of-type(2) {
	transform: rotateX(-75deg) rotateY(-260deg) rotateZ(300deg);
	transition: 6s ease-out;
	transition-timing-function: steps(260);
	filter: drop-shadow( 0px 0px 5px lightslategray);
}
#container>.kader:nth-of-type(10) .blokje:nth-of-type(1), #container>.kader:nth-of-type(10) .blokje:nth-of-type(2) {
	transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}
#container>.kader:nth-of-type(10):active .blokje:nth-of-type(1){
	transform: rotateX(-720deg) rotateY(720deg) rotateZ(720deg);
	transition: 6s ease-out;
	transition-timing-function: steps(260);
	filter: drop-shadow( 0px 0px 5px lightslategray);
} 
#container>.kader:nth-of-type(10):active .blokje:nth-of-type(2) {
	transform: rotateX(-720deg) rotateY(-720deg) rotateZ(720deg);
	transition: 4s ease-out;
	transition-timing-function: steps(260);
	filter: drop-shadow( 0px 0px 5px lightslategray);
} */