html, body {
  scroll-snap-type: y proximity;
  scroll-padding-top: 40px;
  scroll-behavior: smooth;
  font-family: Book-Antiqua;
  background-color: cadetblue;
}

#container {
  margin: 10px auto;
  width: max(80vw, 100px);
  padding: 10px;
  background-color: darkcyan;
  border: 5px groove gray;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
section {
  scroll-snap-align: start;
}
section:last-of-type {
  scroll-snap-align: start;
}

h2 {
  text-decoration: underline;
}

ol {
  list-style-type: upper-roman;
}

#algemeen>h2,
.algemeen {
  color: red;
}
#geschiedenis>h2,
.geschiedenis {
  color: orange;
}
#politiek>h2,
.politiek {
  color: yellow;
}
#demografie>h2,
.demografie {
  color: green;
}
#economie>h2,
.economie {
  color: blue;
}
#kunst>h2,
.kunst {
  color: violet;
}
