
@font-face {
    font-family: "HackerMan";
    src: url(../fonts/alarm\ clock.ttf);
}

html, body {
	font-size: 16px;
	font-family: Calibri, Arial, sans-serif;
    background-color: rgb(95, 158, 160);
}

#container {
margin: 0 auto;
min-width: 400px;

background-color: hsl(0, 0%, 0%);
border: 5px groove gray;
padding: 20px;
color: lime;
font-family: HackerMan;
font-size:  3em;

gap: 30px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

#p-1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
