
body {background-color: gray;}

#container {
    max-width: 1000px;
    outline:black ridge 5px;
}

ul {list-style-type:lower-greek;}
li:hover {outline: blue dashed 1px;}

a:active {outline:goldenrod dotted 2px;}

img {border: green double 15px; outline:tomato double 5px;}

/*#box {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: indianred;
    border-width: 20px;
    padding: 15px;
    border-style: solid;
    border-image: url('/CSS/03-box-model/opdracht7/images/padang.png') 30 space;
}*\

