body {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(88, 87, 87);
}

ul {
    list-style-type: circle;
}

.flanders {
    color: gold;
}
.wallonia {
    color: red;
}

.greatest-area {
    font-weight: bold;
}
.most-populous {
    font-style: italic;
}