html, body {
    background-color: khaki;
}
 #checker-board {
    margin: 30px auto;
    width: 500px;
    height: 500px;
    border: 5px solid black;
    display: grid;
}
.row {
    display: flex;
}
.square {
    flex: 1;
}
.row:nth-of-type(odd) .square:nth-of-type(odd) {
    background-color: rgb(232,208,107) ;
}
.row:nth-of-type(odd) .square:nth-of-type(even) {
    background-color: rgb(166,125,93) ;
}
.row:nth-of-type(even) .square:nth-of-type(even) {
    background-color: rgb(232,208,107) ;
}
.row:nth-of-type(even) .square:nth-of-type(odd) {
    background-color: rgb(166,125,93) ;
}
