html, body {
	background-color: white;
	font-family: Calibri, Arial, sans-serif;
	font-size: 24px;
	color: white;
}
h1 {
	text-align: center;
	font-size: 60px;
	color: royalblue;
}
h2 {
	font-size: 40px;
	color: lime;
}
h3 {
	font-size: 30px;
	color: palegreen;
}
h1, h2, h3 {
	text-shadow: 1px 1px 3px black;
}
#container {
	max-width: 1200px;
	min-height: 600px;
	margin: 0 auto;
}
header {
	height: 200px;
	background-color: navy;
	font-family: "Comic Sans MS", Arial, sans-serif;
	overflow: auto;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start; 
}
nav ul li {
	border-right: 1px solid white;
	box-sizing: border-box;
	position: relative;
	flex: 1;
	text-align: center;
}
nav ul li:last-child {
	border-right: 0;
}
nav ul li a {
	color: white;
	text-decoration: none;
	background-color: darkgreen;
	padding: 10px 20px;	
	display: block;
	font-size: 1rem;
}
nav ul li a:hover {
	background-color: green;
}
main {
	min-height: 400px;
	background-color: darkcyan;
	position: relative;
	display: flex;
	flex-direction: row;
}
main a {
	color: aqua;
	font-weight: bold;
}
main img {
	margin: 40px;
	border: 3px double black;
}
footer {
	height: 40px;
	line-height: 40px;
	font-size: 0.75em;
	font-style: italic;
	text-align: center;
	background-color: darkgreen;
}
section {
	width: 50%;
	padding: 5%;
	box-sizing: border-box;
	flex: 1;
}
input, label {
	display: block;
	margin-bottom: 10px;
}
iframe {
	margin: 20px 0;
}
#print-tekst {
	display: none;
}

@media print {
	* {
		background-color: white;
	}
	body {
		color: black;
		font-family: serif;
		font-size: 18px;
	}
	h1, h2, h3 {
		text-shadow: none;
		color: black;
	}
	main a {
		color: black;
		font-weight: normal;
		text-decoration: none;
	}
	header, nav>ul, iframe, frame>input:last-of-type {
		display: none;
	}
	#print-tekst {
		visibility: visible;
	}
}
