body {
  background-color: rgb(95, 158, 160);
}
.container {
  margin: 0 auto;
  max-width: 800px;
  background-color: rgb(0, 139, 139);
  border: 5px groove gray;
  padding: 20px;
}
.gradient {
  margin: 20px auto;
  width: 600px;
  height: 400px;
  border: #20b2aa inset 5px;
}
#gradient1 {
  background: radial-gradient(tomato, orange, dodgerblue, mediumseagreen);
}
#gradient2 {
  background: radial-gradient(circle, violet, slateblue, lightgray);
}
#gradient3 {
  height: 500px;
  width: 500px;
  background-image: radial-gradient(
    circle,
    white,
    black,
    white,
    black,
    white,
    black,
    white,
    black,
    white,
    black,
    white
  );
  border-radius: 50%;
}
#gradient4 {
  background-image:     radial-gradient(
    circle,
    white,
    black,
    rgb(255, 255, 255, 0.5),
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 50%
  ), linear-gradient(
      to bottom right,
      rgba(255, 99, 71, 1),
      rgba(255, 166, 0, 1),
      rgba(60, 179, 114, 1),
      rgba(30, 143, 255, 1),
      rgba(105, 90, 205, 1)
    );
  background-repeat: no-repeat;
}
#gradient5 {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: conic-gradient(
    #e61010 69.8%,
    #f6ac43 69.8% 85.5%,
    #fef34b 85.5% 89.6%,
    #c6e628 89.6% 92.9%,
    #0066cc 92.9% 94.2%,
    #dda0dd 94.2% 100%
  ) ;
  background-repeat: no-repeat;
}

