:root {
    --bg-test:style="--title-bg: url('+arr[i][3]+')" ;
}

html, body {
	font-size: 16px;
	font-family: Calibri, Arial, sans-serif;
    background-color: rgb(95, 158, 160);
}

.container {
margin: 0 auto;
min-width: 800px;
background-color: rgb(0, 139, 139);
border: 5px groove gray;
padding: 20px;
display: flex;
flex-direction: row;

}

article {
margin: 20px auto;
size: flex;
max-width: 250px;
border: #20b2aa inset 5px;
display: flex;
flex-direction: column;
}

.sub-box {
    position: relative;
    justify-content: center;
    margin: 10px auto;
    size: flex;
    display: flex;
    flex-direction: row;
}

#art-1-2 {
    content: url(../images/zelda.jpg);
}
#art-2-2 {
    content:url(../images/zelda-aol.jpg)
}
#art-3-2 {
    content:url(../images/zelda-alttp.jpg)
}
#art-4-2 {
    content:url(../images/zelda-la.jpg)
}
#art-5-2 {
    content:url(../images/zelda-foe.jpg)
}
#art-6-2 {
    content:url(../images/zelda-ast.jpg)
}
#art-7-2 {
    content:url(../images/zelda-oot.jpg)
}
#art-8-2 {
    content:url(../images/zelda-mm.jpg)
}
#art-9-2 {
    content:url(../images/zelda-oos.jpg)
}
#art-10-2 {
    content:url(../images/zelda-ooa.jpg)
}
#art-11-2 {
    content:url(../images/zelda-ww.jpg)
}
#art-12-2 {
    content:url(../images/zelda-mc.jpg)
}
#art-13-2 {
    content:url(../images/zelda-tp.jpg)
}
#art-14-2 {
    content:url(../images/zelda-ph.jpg)
}
#art-15-2 {
    content:url(../images/zelda-st.jpg)
}
#art-16-2 {
    content:url(../images/zelda-ss.jpg)
}
#art-17-2 {
    content:url(../images/zelda-albw.jpg)
}
#art-18-2 {
    content:url(../images/zelda-hw.jpg)
}
#art-19-2 {
    content:url(../images/zelda-botw.jpg)
}
#art-20-2 {
    content:url(../images/zelda-aoc.jpg)
}
#art-21-2 {
    content:url(../images/zelda-)
}

