body {
	background-color: IndianRed;
	color: PapayaWhip;
	font-size: 20px;
	font-family: Calibri, sans-serif;
}

ol.breadcrumbs {
	list-style-type: none;
}

ol.breadcrumbs > li {
	display: inline-block;
}

ol.breadcrumbs > li > a {
	text-decoration: none;
	color: yellow;
}

ol.breadcrumbs > li:last-of-type > a {
	text-decoration: underline;
	color: bisque;
}

#container {
	max-width: 1000px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.row section {
	flex: 1;
}

.row figure {
	flex: 1;
	margin-top: 2rem;
}

h1, h2 {
	font-family: Tillana, Calibri, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 1rem;
}