#div-1 {
	background-color: rgb(255, 99, 71);
	width: 999px;
	height: 250px;
    text-align: center;
    font-size:  130px;
    font-family:'Times New Roman', Times, serif ;
    color: darkcyan;
}
#div-2 {
	background-color: rgb(0, 255, 0);
	width: 999px;
	height: 150px;
    font-size: 140px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color:rgb(155, 15, 15) ;
}
#div-3 {
	background-color: rgb(245,222, 179);
	width: 999px;
	height: 350px;
    font-size: 210px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color:rgb(27, 141, 182) ;
}
#div-4 {
	background-color: rgb(107,142, 35);
	width: 999px;
	height: 100px;
    font-size: 99px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color:rgb(71, 14, 125) ;
}
#div-5 {
	background-color: rgb(233,150, 122);
	width: 999px;
	height: 50px;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color:brown ;
}