html,
body {
  background-color: gray;
}
#container {
  margin: 20px 0px;
  justify-content: flex-end;
  align-content: flex-end;
  height: 1000px;
  background-color: #ece2b6;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  gap: 20px;
}
.cell {
  display: flex;
  padding: 3rem;
  background-color: #fffbeb;
  justify-items: flex-start;
  align-items: flex-end;
}
