html,
body {
  background-color: gray;
}
#container {
  margin: 20px 0px;
  justify-content: flex-end;
  align-content: flex-end;
  height: 1000px;
  background-color: #ece2b6;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  gap: 20px;
}
.cell {
  display: flex;
 
  background-color: #fffbeb;
  align-items: flex-end;
  justify-items: flex-end;
}
.cell:nth-child(6) {
  justify-self: center;
  align-self: start;
}
.cell:nth-child(4) {
  align-self: flex-start;
}
.cell:nth-child(10) {
  place-self:center;
}