html, body {
    background-color: gray;
}
#container {


    max-height: 1000px;
    background-color: #ECE2B6;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px ;
    gap: 20px; /* "🚨️️️ grid-gap property is obsolete. Avoid using it.  Shorthand that specifies the gutters between grid columns and grid rows in one declaration. Replaced by 'gap' property."*/
    
}
.cell {
    background-color: #FFFBEB;
    padding: 3rem;
}