body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#container {
  max-width: 300px;
  height: 480px;
}

#container > form {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

#container > form > div:nth-child(1)  {
  display: grid;
  padding-bottom: 30px;
  grid-template-rows: repeat(auto-fill, 25px);
}

#container > form > div:nth-child(2)  {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(10px, 30px));
  gap: 20px;
}

#container > form > div *:required {
  background-color: wheat;
}
#container > form  input:focus:invalid {
  background-color: tomato;
  transition-duration: .3s;
}
#container > form  input:focus:valid {
  background: lime;
  transition-duration: .3s;
}

  #container > form > div label[for="naam"]::after,
  #container > form > div label[for="mail"]::after {
  content: " *";
  color: red;
}

form span {
  position: relative;
  color: red;
  font-size: 14px;
  padding: 20px;
  transform: translateY(-25px);
}

form span::before {
  content: " *";
}

#box {
  padding: 20px;
  flex: 1/2;
}

form select {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

p {
  min-height: 20px;
}
p:empty {
  visibility: hidden;
}

p:nth-of-type(1) {
 background-color: darkcyan;
}

p:nth-of-type(2) {
background-color: fuchsia;
}

p:nth-of-type(3) {
background-color: cadetblue;
}

