body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#container {
  margin: 0 auto;
  max-width: 80%;
  background-color: darkcyan;
  border: 5px groove gray;
  padding: 20px;
  flex-direction: column;
  display: flex;
}
#box {
  padding: 20px;
  box-sizing: border-box;
  border-color: sandybrown saddlebrown saddlebrown sandybrown;	border-width: 2px;	border-style: solid;	background-color: peru;
  flex: 1/2;
}

/*form>*{display: flex;	flex-flow: row wrap;
  flex-direction: row;
}*/
form select {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
  width: 177px;
}

