body {
  font-size: 18px;
  font-family: Tahoma, Arial, sans-serif;
}
#container {
  max-width: 1394px;
  min-height: 600px;
  margin: 0 auto;
}
img {
  margin: 10px;
}
#kat1 {
  float: left;
}
#kat2 {
  float: right;
}
#levensduur {
  clear: left;
}
#geloof {
  clear: right;
}
