body, html {
	font-size: 18px;
	font-family: Arial, sans-serif;
	background-color: rgb(243, 244, 248);
	color: rgb(41, 44, 56);
}

#container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.form-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	gap: 20px;
	align-items: center;
}

.form-row > label {
	flex: 1;
}

.form-row > input, .form-row > select {
	flex: 1;
	padding: 5px;
	box-sizing: border-box;
}

label[for="naam"]::after, label[for="email"]::after {
	content: " *";
	color: tomato;
}

form span {
	font-size: 0.75rem;
	color: tomato;
}

form span::before {
	content: "* ";
	color: tomato;
}

input, select, option {
	font-size: 1rem;
	color: rgb(41, 44, 56);
}

input[type="submit"] {
	color: rgb(243, 244, 248);
	background-color: rgb(95, 102, 131);
	border: 1px solid rgb(68, 73, 94);
	box-shadow: 0px 0px 3px rgb(68, 73, 94);
	padding: 4px 8px;
	cursor: pointer;
}

input[type="submit"]:active {
	background-color: rgb(122, 131, 168);
}

input[type="checkbox"] {
	transform: scale(1.25);
}

input:required {
	background-color: wheat;
}

input:out-of-range {
	background-color: tomato;
}

input:in-range {
	background-color: palegreen;
}