body {
    background-color: cadetblue;
    width: 500px;
    height: 500px;
  }

  @keyframes colors {
0% {
    background-color: orange;
    left: 0%;
    top: 0%;

}
25% {
    background-color: purple;
    border-radius: 50%;
    left: 100%;
    top: 0%;
}
50% {
    background-color: darkslategray;
    border-radius: 0%;
    left: 100%;
    top: 100%;
}
75% {
    background-color: gray;
    border-radius: 50%;
    left: 0%;
    top: 100%;
}
100% {
    background-color: orange;
    left: 0%;
    top: 0%;
}
  }
  #div-colors {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: orange;
    transition: background-color 1s;
    animation-name: colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
