body {
    background-color: cadetblue;
  }
  #div-colors {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: orange;
    transition: background-color 1s;
    animation: colors 4s;
  }

  @keyframes colors {
0% {
    background-color: orange;
    position: absolute;
    left: 0px;
    top: 0px;

}
20% {
    background-color: purple;
    position: absolute;
    right: 0px;
    top: 0px;
}
50% {
    background-color: darkslategray;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
75% {
    background-color: gray;
    position: absolute;
}
100% {
    background-color: orange;
    position: absolute;
}
  }