:root {
	--col-red: rgb(255, 0, 0) ;
	--col-crimson: rgb(220, 20, 60);
	--col-dark-red: rgb(122,3,25);
	--col-light-pink: rgb(255,178,211);
	--col-dark-pink: rgb( var(--rgb-notation-red), var(--rgb-notation-green), var(--rgb-notation-blue));
	--col-transparent-black: rgba(255,255,255,0);
	--col-transparent-white:  rgba(255,255,255,0.8);

	--col-yellow: yellow ;
	--col-purple: purple ;

	--col-dodgerblue: dodgerblue ;
	--col-mediumseagreen: mediumseagreen ;

	--rgb-notation-red: 207;
	--rgb-notation-green: 100;
	--rgb-notation-blue: 154;
}
