:root {
    --bg-col-trans-white: rgb(255, 255, 255, 0.6);
    --bg-col-test: rgba(250, 4, 4, 0.5) ;
    --bg-col-temp: rgba(100, 210, 220, 0.5) ;
    --bg-col-line: rgba(255, 255, 255, 0.2);
    --bg-col-cont: #D3D3D3;
    --bg-col-body: #F7F8FA;
    --bg-col-head: #0F2041;
    --bg-col-circ: #c4c4c4;
    --def-col-blk: #000000;
    --mob-col-line: #CFCDCD;
    --red-col-logo: #C32929;
    --bg-col-slider:#ffffff;
    --bg-mob-slider:#F5E6E0;
    --bg-mob-footer: #e4e4e4;
    --gray-col-text: #767676;

    --bg-col-mustard:#F6CD46;

    --stnd-div-width: 73.3vw;

    --bg-col-trans: #1c1c1c25;
    --bg-col-table:  #dbdbdb07;
    --bg-col-footer: #0F2041;
    --col-text-foot: #F7F8FA;
}

.link {
    text-decoration: none  ;
    color: var(--bg-col-body);
}

/*/ temp line for important/overarching classes /*/

* {
    z-index: 10;
}

#desktop-site {
    visibility: visible;
}

.dis-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

body,html {
    background-color: var(--bg-col-body);
    width: 100%;
    height: auto;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

#desktop-site>.bg {
    width: 100%;
    height: 80px;

    position: absolute;

    background-color: var(--bg-col-head);
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    position: relative;
    margin: 30px 0px 20px 0px ;
    width:  80%;
    height: 36px;
    left: 10vw;

    color: var(--bg-col-body);
} 

header>.left {
    height: 100%; 
    width: 112px;  
}

header div.left {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

header div.left>.subtract {
    height: 27px;
    width: 80px;
    border-radius: 0px;

    display: flex;
    flex-direction: row;
}

header div.left>.subtract>span {
    width: 85px;
    height: 51px;

    position: relative;
    top: -9px;

    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;    

    color: var(--bg-col-body);
}

header div.left>.subtract>.rectangle-6 {
    position: absolute;

    height: 10px;
    width: 6px;
 
    border-radius: 0px;
 
    background-color: var(--bg-col-head);
    transform: translateX(17px) translateY(-1px) rotate(-45deg);
}

header div.left>.subtract>.rectangle-5 {
    position: absolute;

    height: 32px;
    width: 4px;
    border-radius: 0px;

    background-color: var(--bg-col-head);
    transform: translateX(34px) translateY(0px) rotate(-45deg);
}
 
header div.left>div.ellipse-9 {
    height: 26px;
    width: 26px;
    top: 2px;
    border-radius: 50%;

    position: relative;
    background-color: var(--bg-col-mustard);
}

header > .middle {
    height: 100%; 
    width: 420px;

    display: flex;
    align-items: center;

    text-transform: uppercase;
    word-spacing: 10px;
    gap: 10px;

    text-decoration: none;
}

header>.middle >.line {
    height: 2px;
    width: 30px;

    position: absolute;
    transform: translatey(15px) translateX(0px);

    background-color: var(--bg-col-body);
}

header>.right {
    height: 100%; 
    width: 232px;

    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

main {
    position: relative;
    width: 80%;
    height: auto;
    left: 10vw;
}

main>.title {

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

}

main>.inner {
    width: 100%;
    height: auto;

    gap: 20px;
}

main>.inner>* {
    width: 100%;
    height: auto;
}

main .inner .text .top  { 
    position: relative;
    width: 66%;
    left: 17%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

main .inner .text .middle {
    position: relative;
    width: 66%;
    left: 17%;

    gap: 20px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

main .inner .text .middle .sub-box { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

main .inner .text .bottom {
    position: relative;
    width: 75%;
    left: 12%;

    gap: 10px;
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    justify-content: space-between;
}

main .inner .text .bottom > * {
    flex: 1;
}

main .inner .text .bottom > img { 
    width: 100%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.527);
}

main .inner .text .bottom > div {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 50px 0px;
}

main>.inner>.icons {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

main>.inner>.icons>.icons-box {
    margin-top:none;

    height: 45px;
    width: 16vw;
    line-height: 0px;

    display: grid;
    grid-template-areas:
    'fa-icon span-1'
    'fa-icon span-2' ;
    gap: 0.7vw;

    align-content: center;
}

main>.inner>.icons>.icons-box>span:nth-of-type(1) {
    text-transform: uppercase;
    grid-area: span-1;
    font-weight: bold;
}

main>.inner>.icons>.icons-box>span:nth-of-type(2) {
    grid-area: span-2;
    line-height: 14px;
}

main>.inner>.icons>.icons-box>.fa-solid {
    top: 10px;
    font-size: 30px;
    grid-area: fa-icon;
}

   /*  =========================[ footer ]]=========================  */
  
footer {
    position: relative;
    margin-top:100px;
    height: 571px;
    width: 100%;

    color:var(--col-text-foot);
    background-color: var(--bg-col-body);
} 

#up>.back-to-top {
    position: absolute;
    bottom: 0px;
    right: 0px;

    width: 45px;
    height: 45px;

    z-index: 12;
} 

#up>.back-to-top>a {
    text-decoration: none;
    font-size: 2rem;

    text-align: center;
    color: var(--bg-col-body);

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: 1px solid var(--bg-col-body);

    border-radius: 90px;
}  

footer>#inner {
    margin: 0 auto;
    position: absolute;
    left: 8.28%;
    top: 17.51%;

    max-width: 90% ;
    height: 296px;

    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(0px, .1fr) minmax(100px, 1fr) minmax(0px, .1fr)  minmax(100px, 1fr)  ;
} 

footer>#inner>div:last-of-type {
    margin-right: 10px;
} 

footer>#inner>.inner-segment {
    position:relative;

    font-family:'Jost', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    flex: 1;
} 

footer>#inner > .seg-1 {
    height: 255px;
    max-width: 286px;
    flex:1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

#inner>.seg-1>div.logo {
    width: 85px;
    height: 51px;

    position: relative;
} 

#inner>.seg-1>div.logo>.subtract {
    height: 27px;
    width: 80px;
    border-radius: 0px;
} 

#inner>.seg-1>div.logo>.subtract>span {
    width: 85px;
    height: 51px;

    position: relative;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;

    text-transform: uppercase;

    color: var(--col-text-foot);
} 

#inner>.seg-1>div.logo>.subtract>.rectangle-6 {
    position: absolute;

    height: 9.37px;
    width: 4px;

    left: 18.8%;
    top: 14%;
    
    background: var(--bg-col-footer);
    transform: rotate(-45deg);
} 

#inner>.seg-1>div.logo>.subtract>.rectangle-5 {
    height: 29px;
    width: 4px;
    
    position: absolute;
    left: 40%;
    top: 20%;

    background: var(--bg-col-footer);
    transform: rotate(-45deg);
} 

#inner>.seg-1>div.logo>div.ellipse-9 {
    height: 26px;
    width: 26px;
    left: 80px;
    top: 11px;
    border-radius: 50%;
    
    position: absolute;

    background: var(--bg-col-mustard); 
    z-index: 15;
} 

#inner>.seg-1>div.socials {
    height: 16px;
    max-width: 205px;

    display: flex;
    justify-content: space-between;
} 

#inner>.seg-1>div.socials i {
    color: var(--col-text-foot);
} 

footer>#inner > .seg-2 {
    height: 293px;
    max-width: 593px;
    flex:1;

    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
} 

footer>#inner > .seg-2 a {
    text-decoration: underline;
}

footer>#inner > .seg-2 > p:nth-of-type(-n+3)  {
    text-transform: uppercase;
    font-weight: bold;
} 

footer>#inner > .seg-2 > div.line {
    position: absolute;
    background-color: var(--bg-col-body);
    
    height: 2px;
    width: 30px;
    left: 0px;
    top: 39%;

} 

footer>#inner > .seg-3 {
    height: 283px;
    max-width: 330px;
    flex:1;
} 

footer>#inner > .seg-3 > p:first-of-type {
    text-transform: uppercase;
} 

footer>#inner > .seg-3 > span {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 2px solid var(--bg-col-mustard);
    border-radius: 5px;
    background-color: var(--bg-col-mustard);
    color: var(--def-col-blk);
    z-index: 15;
} 

footer>#inner > .seg-3 > span >p:nth-of-type(2) {
    text-transform: uppercase;
    padding: 0px 20px;
} 

footer>#inner > .seg-3 > p:last-of-type {
    font-weight: bold;
} 

footer>#inner > .seg-3 > img {
    max-width: 100%;
    height: auto;

    outline: auto;
    background-color: var(--bg-col-body);
} 

footer>#bottom {
    position: absolute;

    left: 8.28%;
    width: 92%;
    height: 24px;
    bottom: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

footer>#bottom>span {
    flex: 1;
} 

footer>#bottom>span:first-of-type {
    max-width: 50%;
} 

footer>#bottom> span:last-of-type {
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    align-content: flex-start;
    justify-content: space-around;

} 

footer>#bottom>span>span  {
    flex: 1;
} 

footer>#bottom>span:nth-of-type(2) > span:nth-of-type(1), footer>#bottom> span:nth-of-type(2) > span:nth-of-type(3)>span:first-of-type {
    color: gray;
} 

#bg {
    position: absolute;
    bottom: 0px;
    height: 571px;
    /* max-width: 1920px; */ width: 100%;
    background-color: var(--bg-col-footer);
    z-index: 9;
} 

.bg-line {
    position: absolute;

    height: 2px;
    width: 84%;
    background-color: var(--bg-col-footer);

    left: 8.28%;
    bottom: 50px;
} 
