:root {
    --bg-col-test: rgba(250, 4, 4, 0.5) ;
    --bg-col-temp: rgba(100, 210, 220, 0.5) ;
    --bg-col-line: rgb(255, 255, 255, 0.2);
    --bg-col-body: #F7F8FA;
    --bg-col-head: #0F2041;
    --def-col-blk: #000000;
    --bg-col-slider:#ffffff;
    --bg-col-mustard:#F6CD46;
}

.test {
    background-color: var(--bg-col-test);
    width: 20px;
    height: 20px;
    outline: 1px solid black;
}

.icons {
    font-size: 12px;
    line-height: 13.8px;
    word-spacing: 10px;

    color: var(--bg-col-slider);
}

.upside-down-chevron {
    transform: rotatez(180deg) translateY(3px);
    font-size: 2em;
    font-weight: 400;
}
/* lllllllllllllllllllllllllllllll [TEMP] lllllllllllllllllllllllllllllll */

body,html {
    background-color: var(--bg-col-body);
    max-width: 1920px;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
}

body::-webkit-scrollbar { 
    width: 0px; 
    height: 0px;
} 

header {
    position: absolute;
    width: 100vw;
    height: 232px;
    left: 0px;
    top: 0px;

    background-color: var(--bg-col-head);
}

#tops-box {    
    top: 0px;
    position: absolute;
    left: 13.3vw;

    /* max-width: 1920px; */ width: 73.5vw;
    height: 33px;
    margin-top: 10px;

    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;

    gap: 20px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

/* [Temp width test]
temporary element added for testing the positioning in vw for dynamic width 

div#tops-box.test {
    left: 255px;
    background-color: var(--bg-col-test);
} */

div#tops-box>.left {
    width: 240px;
    height: 100%;

    align-items: center;
    color: var(--bg-col-slider);
}

div#tops-box>.left>span {
    height: 15;
    line-height: 24px;
    font-size: 13px;
    font-weight: 400;
    word-spacing: 10px;

} 

div#tops-box>.right{
    width: 220px;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow: hidden;
    gap: 5px;
}

#tops-box>.right> div {
    font-size: 12px;
    line-height: 13.8px;
    word-spacing: 10px;

    color: var(--bg-col-slider);

    display: flex;
    gap: 5px;
}

div#tops>div.line {
    position: absolute;
    top: 40px;
    left: 0px;

    width: 100vw;
    height: 1px;
    background-color: var(--bg-col-line);
}

div#center-top {
    position: absolute;
    top: 87px;
    left: 13.3vw;

    /* max-width: 1920px; */ width: 73.5vw;
    height: 30px;

    background-color: var(--bg-col-temp);

    display: grid;
    grid-template-columns: 112px 1fr 1fr;
    grid-template-rows: 30px;
}

div#center-top>.left {
    background-color: var(--bg-col-head);
}

#center-top>div.left>.subtract {
    height: 27px;
    width: 80px;
    border-radius: 0px;

    display: flex;
}

#center-top>div.left>.subtract>span {
    width: 85px;
    height: 51px;

    position: absolute;
    top: -9px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;

    text-transform: uppercase;

    color: var(--bg-col-slider);
}

#center-top>div.left>.subtract>.rectangle-6 {
    position: relative;

    height: 9.37px;
    width: 4px;

    left: 22%;
 
    border-radius: 0px;
 
    background: var(--bg-col-head);
    transform: rotate(-45deg);
}

#center-top>div.left>.subtract>.rectangle-5 {
    position: relative;

    height: 29px;
    width: 4px;
    border-radius: 0px;

    left: 37%;
    top: 5%;

    background: var(--bg-col-head);
    transform: rotate(-45deg);
}
 
#center-top>div.left>div.ellipse-9 {
    height: 26px;
    width: 26px;
    left: 80px;
    top: 2px;
    border-radius: 50%;

    position: absolute;

    background: var(--bg-col-mustard);
}

div#center-top>.right {
    width: 20vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: var(--bg-col-temp);
}

/* div#center-top>.right.test {
    position: absolute;
    width: 325px;
    display: flex;
    flex-direction: row;


    background-color: var(--bg-col-test);
    left: 690px;

} */

div#center-top>.right> span:first-of-type {
    width: 155px;
    height: 100%;
    
    font-weight: 900;
    text-transform: capitalize;
    color: var(--bg-col-body);
}

div#center-top>.right> span:last-of-type {
    width: 129px;
    height: 100%;
}

div#center-bottom  {
    position: absolute;
    width: 73.5vw;
    height: 50px;

    left: 13.3vw;
    top: 152px;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.2fr 30px 0.8fr;
}

div#center-bottom > div {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding:  0px 10px;

    font-size: 14px;
    line-height: 24px;
}

.blank-grid-space {
    background-color: none;
}

div#center-bottom>.left{
    background-color: var(--bg-col-mustard);

    justify-content: space-evenly;

    text-transform:uppercase;
    font-weight: 600;
    line-height: 24px;
}

div#center-bottom>.right  {
    background-color: var(--bg-col-body);
    justify-content: space-between;
}

div#center-bottom>.right>div:first-of-type {
    font-weight: 400;
    gap: 10px;
    display: flex;
}

div#center-bottom>.right>div:last-of-type {
    font-weight: 600;
    text-transform: uppercase;

    display: flex;
    gap: 10px;
}

  /* ------------------------[ Main divider line for ease of navigation ]----------------------------- */

main {

}

main>#slider {
    position: absolute;
    width: 100vw;
    height: 660px;
    left: 0px;
    top: 232px;

    background-color: var(--bg-col-slider); 
}

main>#slider>#slider-box {
    position: absolute;
    width: 73.5vw;
    height: 500px;
    left: 13.3vw;
    top: 30px;

    background-color: var(--bg-col-temp);
    display: grid;
    grid-template-areas:
    'categories slide slide img-2'
    'categories slide slide img-1' ;
    gap: 1.4vw;

}
#slider-box>div {
    background-color: var(--bg-col-test);
}


#slider-box>#img-2 {
    grid-area: img-2 ; 
    width: 17.08vw;
    height: 235px;
}

#slider-box>#img-1 {
    grid-area: img-1 ; 
    width: 17.08vw;
    height: 235px;
}

#slider-box>#categories {
    grid-area: categories;
    width: 15vw;
    height: 500px;   
    
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

#slider-box>#categories>ul {
    margin: 25px 0px;
    line-height: 357%;
    font-size: 14px; 

    font-weight: 480;
    text-transform: uppercase;

}

#slider-box>#categories>ul>li {}

#slider-box>#slide {
    grid-area: slide ;
    width: 38.3vw;
    height: 500px;
}

#slider>#icons {
    position: absolute;
    bottom: 40px;
    left: 13.3vw;
    width: 73.5vw;
    height: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;

}

#slider>#icons>.icons-box {
    margin-top:none;

    height: 45px;
    width: 16vw;
    line-height: 0px;

    display: grid;
    grid-template-areas:
    'fa-icon span-1'
    'fa-icon span-2' ;
    gap: 0.7vw;

    align-content: center;
}

#slider>#icons>.icons-box>span:nth-of-type(1) {
    text-transform: uppercase;
    grid-area: span-1;
    font-weight: bold;
}
#slider>#icons>.icons-box>span:nth-of-type(2) {
    grid-area: span-2;
    line-height: 14px;
}
#slider>#icons>.icons-box>.fa-solid {
    top: 10px;
    font-size: 30px;
    grid-area: fa-icon;
}

main>#content {
    position: absolute;
    top:  992px;
    width: 100vw;
    height: 3708px;

    left: 0px;
}

main>#content > div {
    width: 73.5vw;
}

main>#content>#categories {
    position: absolute;
    height: 249px;
    left: 13.3vw;

    background-color: var(--bg-col-temp);
}

main>#content>#categories>.top {
    width: 100%;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;

    background-color: var(--bg-col-test);
}

main>#content>#categories>.top>div>.line {
    position: relative;
    top: 5px;

    height: 2px;
    width: 50px;

    background-color: var(--def-col-blk);
}

main>#content>#categories>.top span {
    text-transform: uppercase;
    font-weight: bold;
}

main>#content>#categories>.top>span.left {
    font-size: 30px;
    line-height: 36px;
}

main>#content>#categories>.top>div.right>span {
    font-size: 13px;
    line-height: 16px;
}


main>#content>#categories>.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

main>#content>#categories>.bottom > div.box {
    width: 145px;
    height: 183px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main>#content>#categories>.bottom > div.box>.circle {
    position: relative;
    width: 145px;
    height: 145px;

    border: 1px solid #E4E4E4;
    border-radius: 50%;
}

main>#content>#categories>.bottom > div.box span {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;

    text-align: center;
    margin-top: 10px;
}


footer {

}


/* |||||||||||||||||||||||| [TEMP] Div test line for logo |||||||||||||||||||||||| */

