:root {
    --bg-col-trans-white: rgb(255, 255, 255, 0.6);
    --bg-col-test: rgba(250, 4, 4, 0.5) ;
    --bg-col-temp: rgba(100, 210, 220, 0.5) ;
    --bg-col-line: rgb(255, 255, 255, 0.2);
    --bg-col-cont: #D3D3D3;
    --bg-col-body: #F7F8FA;
    --bg-col-head: #0F2041;
    --bg-col-circ: #c4c4c4;
    --def-col-blk: #000000;
    --red-col-text: #C32929;
    --bg-col-slider:#ffffff;
    --bg-mob-slider:#F5E6E0;
    --gray-col-text: #767676;
    --bg-col-mustard:#F6CD46;

    --stnd-div-width: 73.3vw;
}

#mobile-site {
    display: none;
}

.test {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
}

.icons {
    font-size: 12px;
    line-height: 13.8px;
    word-spacing: 10px;

    color: var(--bg-col-slider);
}

.upside-down-chevron {
    transform: rotatez(180deg) translateY(3px);
    font-size: 2em;
    font-weight: 400;
}

.link {
    text-decoration: none  ;
}

/* lllllllllllllllllllllllllllllll [TEMP] lllllllllllllllllllllllllllllll */

body,html {
    background-color: var(--bg-col-body);
    width: 100%;
    height: auto;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 0px;
}

body::-webkit-scrollbar { 
    width: 0px; 
    height: 0px;
}

header {
    position: relative;
    width: 100vw;
    height: 232px;
    left: 0px;
    top: 0px;

    background-color: var(--bg-col-head);
}

#tops-box {    
    top: 0px;
    position: absolute;
    left: 13.3vw;

    /* max-width: 1920px; */ width: var(--stnd-div-width);
    height: 33px;
    margin-top: 10px;

    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;

    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

/* [Temp width test]
temporary element added for testing the positioning in vw for dynamic width 

div#tops-box.test {
    left: 255px;
    background-color: var(--bg-col-test);
} */

div#tops-box>.left {
    width: 240px;
    height: 100%;

    align-items: center;
    color: var(--bg-col-slider);
}

div#tops-box>.left>span {
    height: 15;
    line-height: 24px;
    font-size: 13px;
    font-weight: 400;
    word-spacing: 10px;
}

div#tops-box>.right{
    width: 220px;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 5px;
}

#tops-box>.right> div {
    font-size: 12px;
    line-height: 13.8px;
    word-spacing: 10px;

    color: var(--bg-col-slider);

    display: flex;
    gap: 5px;
}

div#tops>div.line {
    position: absolute;
    top: 40px;
    left: 0px;

    width: 100vw;
    height: 1px;
    background-color: var(--bg-col-line);
}

div#center-top {
    position: absolute;
    top: 87px;
    left: 13.3vw;

    width: var(--stnd-div-width);
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#center-top>.left {
    background-color: var(--bg-col-head);
}

#center-top>div.left>.subtract {
    height: 27px;
    width: 80px;
    border-radius: 0px;

    display: flex;
}

#center-top>div.left>.subtract>span {
    width: 85px;
    height: 51px;

    position: absolute;
    top: -9px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;

    text-transform: uppercase;

    color: var(--bg-col-slider);
}

#center-top>div.left>.subtract>.rectangle-6 {
    position: relative;

    height: 10px;
    width: 6px;

    left: 22%;
 
    border-radius: 0px;
 
    background: var(--bg-col-head);
    transform: translateX(-1px) translateY(-2px) rotate(-45deg);
}

#center-top>div.left>.subtract>.rectangle-5 {
    position: relative;

    height: 31px;
    width: 4px;
    border-radius: 0px;

    left: 37%;
    top: 5%;

    background: var(--bg-col-head);
    transform: translateX(-1px) translateY(-2px) rotate(-45deg);
}
 
#center-top>div.left>div.ellipse-9 {
    height: 26px;
    width: 26px;
    left: 80px;
    top: 2px;
    border-radius: 50%;

    position: absolute;

    background: var(--bg-col-mustard);
}

div#center-top>.middle {
    gap: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#center-top>.middle> span {
    text-transform: uppercase;

    color: var(--bg-col-slider);
}

div#center-top>.right {
    width: 16vw;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

/* div#center-top>.right.test {
    position: absolute;
    width: 325px;
    display: flex;
    flex-direction: row;


    background-color: var(--bg-col-test);
    left: 690px;

} */

div#center-top>.right> span:first-of-type {
    width: 155px;
    height: 100%;
    
    font-weight: 900;
    text-transform: capitalize;
    color: var(--bg-col-body);
}

div#center-top>.right> span:last-of-type {
    max-width: 129px;
    height: 100%;

    font-size: 16px;
}

div#center-bottom  {
    position: absolute;
    width: var(--stnd-div-width);
    height: 50px;

    left: 13.3vw;
    top: 152px;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.2fr 30px 0.8fr;
}

div#center-bottom > div {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding:  0px 10px;

    font-size: 14px;
    line-height: 24px;
}

.blank-grid-space {
    background-color: none;
}

div#center-bottom>.left{
    background-color: var(--bg-col-mustard);

    justify-content: space-evenly;

    text-transform:uppercase;
    font-weight: 600;
    line-height: 24px;
}

div#center-bottom>.right  {
    background-color: var(--bg-col-body);
    justify-content: space-between;
}

div#center-bottom>.right>div:first-of-type {
    font-weight: 400;
    gap: 10px;
    display: flex;
}

div#center-bottom>.right>div:last-of-type {
    font-weight: 600;
    text-transform: uppercase;

    display: flex;
    gap: 10px;
}

  /* ------------------------[ Main divider line for ease of navigation ]----------------------------- */ 

main {
    width: 100%;
    height: auto;

    position: relative;
    outline: none;
    flex: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main>#slider {
    position: relative;
    width: 100vw;
    height: 660px;
    left: 0px;

    background-color: var(--bg-col-slider); 
}

main>#slider>#slider-box {
    position: relative;
    width: var(--stnd-div-width);
    height: 500px;
    left: 13.3vw;
    top: 30px;

    display: grid;
    grid-template-areas:
    'categories slide slide img-2'
    'categories slide slide img-1' ;
    gap: 1.4vw;
}

#slider-box>div {
    background-color: var(--bg-col-test);
}

#slider-box>#img-2 {
    grid-area: img-2 ; 
    width: 17.08vw;
    height: 235px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;

    color: var(--bg-col-head);
}

#slider-box>#img-2>.top {
    width: 140px;
    height: 48px;
    margin-top: 70px;

    font-size:20px; 
    font-weight: 600;
    line-height: 24px;
    padding-left: 3vw;
}

#slider-box>#img-2>.bottom {
    width: 72px;
    height: 24px;
    margin-bottom: 70px;

    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 3vw;
}

#slider-box>#img-2>.bottom>.line {
    position: relative;
    top: 25px;

    width: 47px;
    height: 2px;

    background-color: var(--bg-col-head);
}

#slider-box>#img-1 {
    grid-area: img-1 ; 
    width: 17.08vw;
    height: 235px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;

    color: var(--bg-col-slider);
}

#slider-box>#img-1>.top {
    width: 140px;
    height: 48px;
    margin-top: 70px;

    font-size:20px; 
    font-weight: 600;
    line-height: 24px;
    padding-left: 3vw;
}

#slider-box>#img-1>.bottom {
    width: 72px;
    height: 24px;
    margin-bottom: 70px;

    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 3vw;
}

#slider-box>#img-1>.bottom>.line {
    position: relative;
    top: 25px;

    width: 47px;
    height: 2px;

    background-color: var(--bg-col-slider);
} 

#slider-box>#categories {
    grid-area: categories;
    width: 15vw;
    height: 500px;   
    
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

#slider-box>#categories>ul {
    margin: 25px 0px;
    line-height: 357%;
    font-size: 14px; 

    font-weight: 480;
    text-transform: uppercase;
}

#slider-box>#slide {
    grid-area: slide ;
    width: 38.3vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#slider-box>#slide>.top-box {
    max-width: 300px;
    height: 228px;
    margin-top: 90px;
    padding-left: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-transform: uppercase;
}

#slider-box>#slide>.top-box>.top {
    color: var(--bg-col-slider);
}

#slider-box>#slide>.top-box>.middle {
    width: 100%;
    height: 108px;

    font-size: 45px;
    font-weight: 600;
    line-height: 54px;
    color: var(--bg-col-slider);
}

#slider-box>#slide>.top-box>.bottom {
    width: 150px;
    height: 50px;
    font-weight: 600;
    

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    background-color: var(--bg-col-mustard);
}

#slider-box>#slide>.bottom-box { 
    width: 130px;
    height: 30px;
    padding-left: 3vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#slider-box>#slide>.bottom-box>.circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--bg-col-slider);
}

#slider>#icons {
    position: absolute;
    bottom: 40px;
    left: 13.3vw;
    width: var(--stnd-div-width);
    height: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

#slider>#icons>.icons-box {
    margin-top:none;

    height: 45px;
    width: 16vw;
    line-height: 0px;

    display: grid;
    grid-template-areas:
    'fa-icon span-1'
    'fa-icon span-2' ;
    gap: 0.7vw;

    align-content: center;
}

#slider>#icons>.icons-box>span:nth-of-type(1) {
    text-transform: uppercase;
    grid-area: span-1;
    font-weight: bold;
}

#slider>#icons>.icons-box>span:nth-of-type(2) {
    grid-area: span-2;
    line-height: 14px;
}

#slider>#icons>.icons-box>.fa-solid {
    top: 10px;
    font-size: 30px;
    grid-area: fa-icon;
}

main>#content {
    position: relative;
    width: 100vw;
    height: auto;

    left: 0px;
    top: 140px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

main>#content > div {
    position: relative;
    width: var(--stnd-div-width);
    left: 13.3vw;
}

main>#content>#categories {
    height: 249px;
}

main>#content>#categories>.top {
    width: 100%;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

main>#content>#categories>.top>div>.line {
    position: relative;
    top: 5px;

    height: 2px;
    width: 50px;

    background-color: var(--def-col-blk);
}

main>#content>#categories>.top span {
    text-transform: uppercase;
    font-weight: bold;
}

main>#content>#categories>.top>span.left {
    font-size: 25px;
    line-height: 36px;
}

main>#content>#categories>.top>div.right>span {
    font-size: 13px;
    line-height: 16px;
}

main>#content>#categories>.bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

main>#content>#categories>.bottom > div.box {
    width: 7.56vw;
    height: 9.46vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main>#content>#categories>.bottom > div.box>.circle {
    position: relative;
    width: 7.56vw;
    height: 7.56vw;

    border: 2px solid #E4E4E4;
    border-radius: 50%;

    background-color: var(--bg-col-slider);
}

main>#content>#categories>.bottom > div.box span {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;

    text-align: center;
    margin-top: 10px;
}

main>#content>#special {
    position: relative;
    height: auto;

    gap: 30px;
    display: flex;
    flex-direction: column;
}

main>#content>#special>.top {
    width: 100%;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main>#content>#special>.top>*{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

main>#content>#special>.top>.left {
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    line-height: 36px;
    flex: 1;
}

main>#content>#special>.top>.right {
    justify-content: end;
    gap: 10px;
    flex: 1;
}

main>#content>#special>.top>*>.sub-box> div.line {
    position: absolute;
    top: 28px;

    height: 2px;
    width: 50px;

    background-color: var(--def-col-blk);
}

main>#content>#special>.top span {
    text-transform: uppercase;
    font-weight: bold;
}

main>#content>#special>.top>div.right>span {
    font-size: 13px;
    line-height: 16px;
}

main>#content>#special>.bottom {
    width: var(--stnd-div-width);
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

main>#content>#special>.bottom>.box {
    width: 240px;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-col-slider);
    border: 1px solid #E4E4E4;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#special>.bottom>.box>.box-img {
    width: 190px;
    height: 190px;
    margin:5px 30px ;
    
    background-color: var(--bg-col-test);
}

#special>.bottom>.box>.box-img>img {
    width: 100%;
    height: auto; 
}

#special>.bottom>.box>.box-text {
    width: 90%;
    height: 181px;

    margin-left: 10%;
}

#special>.bottom>.box>.box-text > p:nth-of-type(1) {
    font-weight: 500; 
    font-size: 13px; 
    line-height: 16px; 
    color: #767676;
}

#special>.bottom>.box>.box-text > p:nth-of-type(2) {
    font-size: 16px; 
    line-height: 24px; 
    color: var(--bg-col-head);
}

#special>.bottom>.box>.box-text > p:nth-of-type(3) {  
    font-family: 'Jost', sans-serif; 
    font-size: 13px; 
    line-height: 24px;     
    color: #767676
}

#special>.bottom>.box>.box-text > p:nth-of-type(4) { 
    font-weight: 600; 
    font-size: 16px; 
    line-height: 19px;   
    color: #86BC42;
}

main>#content>#banner {
    width: calc(var(--stnd-div-width));
    height: 235px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main>#content>#banner > .box {
    width: 23.34vw;
    height: 235px;

    background-color: var(--bg-col-test);
}

main>#content>#banner > .box>img {
    width: 100%;
    height: auto;
}

main>#content>#popular {
    position: relative;
    width: 83.89vw;
    height: auto;
    left: 8vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    gap: 30px;
}

main>#content>#popular>.top {
    width: 100%;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

main>#content>#popular>.top>div>.line {
    position: relative;
    top: 5px;

    height: 2px;
    width: 50px;

    background-color: var(--def-col-blk);
}

main>#content>#popular>.top span {
    text-transform: uppercase;
    font-weight: bold;
}

main>#content>#popular>.top>span.left {
    font-size: 30px;
    line-height: 36px;
}

main>#content>#popular>.top>div.right>span {
    font-size: 13px;
    line-height: 16px;
}

main>#content>#popular>.bottom {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

main>#content>#popular>.bottom>.container {
    position: relative;
    height: auto;

    width: var(--stnd-div-width);

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

main>#content>#popular>.bottom>.container>.box {
    width: 240px;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-col-slider);
    border: 1px solid #E4E4E4;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#popular>.bottom>.container>.box>.box-img {
    width: 190px;
    height: 190px;

    margin:5px 30px ;
    background-color: var(--bg-col-test);
}

#popular>.bottom>.container>.box>.box-img>img {
    width: 100%;
    height: auto; 
}

#popular>.bottom>.container>.box>.box-text {
    width: 90%;
    height: 181px;

    margin-left: 10%;
}

#popular>.bottom>.container>.box>.box-text > p:nth-of-type(1) {
    font-weight: 500; 
    font-size: 13px;
    line-height: 16px; 
    color: #767676;
}

#popular>.bottom>.container>.box>.box-text > p:nth-of-type(2) {
    font-size: 16px; 
    line-height: 24px; 
    color: var(--bg-col-head);
}

#popular>.bottom>.container>.box>.box-text > p:nth-of-type(3) {  
    font-family: 'Jost', sans-serif; 
    font-size: 13px; 
    line-height: 24px;     
    color: #767676
}

#popular>.bottom>.container>.box>.box-text > p:nth-of-type(4) { 
    font-weight: 600; 
    font-size: 16px; 
    line-height: 19px;   
    color: #86BC42;
}

main>#content>#testimonials {
    width: 100vw;
    height: 686px;
    left: 0px;

    background-color: var(--bg-col-slider);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main>#content>#testimonials>span.top {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;

    color: var(--bg-col-head);
}

main>#content>#testimonials>.middle {
    width: 95.75vw;
    height: 320px;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

main>#content>#testimonials>.middle>.sub-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    padding-left: 4vw;
    
    border: 1px solid #E4E4E4;
    box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
    border-radius: 8px;
}

main>#content>#testimonials>.middle>.sub-box>span:first-of-type {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--bg-col-head);
}

main>#content>#testimonials>.middle>.sub-box>span:last-of-type  {
    font-size: 16px; 
    line-height: 26px; 
    color: var(--gray-col-text) ;
}

main>#content>#testimonials>.middle>.sub-box>.sub-sub-box {
    width: 10vw;
    height: 70px;
    gap: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main>#content>#testimonials>.middle>.sub-box>.sub-sub-box>.circle {
    height: 3.6vw;
    width: 3.6vw;
    border-radius: 50%;

    background-color: var(--bg-col-circ);
}

#testimonials>.middle>.sub-box>.sub-sub-box>.box-text>p:first-of-type {
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 600;
    font-size: 15px;
}

#testimonials>.middle>.sub-box>.sub-sub-box>.box-text>p:last-of-type {
    text-transform: capitalize;
    line-height: 17px;
    font-size: 14px;

    color: var(--gray-col-text);
}

main>#content>#testimonials>.bottom {
    width: 132px;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main>#content>#testimonials>.bottom>.circle {
    height: 6px;
    width: 6px;

    border-radius: 50%;
    background-color: #5E6B8C;
}

main>#content>#blog {
    position: relative;
    left: 0px;
    width: 100%;
    height: auto;

    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>#content>#blog>.top {
    flex: 1;

    font-size: 28px;
    font-weight: 600;
    line-height: 36px;

    text-transform: uppercase;
    color: var(--bg-col-head);
}

main>#content>#blog>.bottom {
    width: 100%;
    height: auto;

    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    flex-wrap: wrap;
}

main>#content>#blog>.bottom>.box {
    width: 330px;

    border-radius: 8px;
    background-color: var(--bg-col-slider);
    box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
}

main>#content>#blog>.bottom>.box>.box-img  {
    width: 100%;
    height: 220px;

    background-color: var(--bg-col-test);
}

main>#content>#blog>.bottom>.box>.box-text  {
    width: 90%;
    margin-left: 10%;

    gap: 0px;    
    display: flex;
    flex-direction: column;
}

main>#content>#blog>.bottom>.box>.box-text>.top  {
    font-size: 14px;
    line-height: 17px;

    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--gray-col-text);
}

main>#content>#blog>.bottom>.box>.box-text>.top>.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #696969;
}

main>#content>#blog>.bottom>.box>.box-text>.middle>p:first-of-type {
    font-weight: 600;
    font-size: 15px; 
    line-height: 18px; 
    text-transform: uppercase; 
    color: var(--bg-col-head);
}

main>#content>#blog>.bottom>.box>.box-text>.middle>p:last-of-type  {
    font-size: 14px; 
    line-height: 17px; 
    color: var(--gray-col-text); 
}

main>#content>#blog>.bottom>.box>.box-text>.bottom {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

main>#content>#blog>.bottom>.box>.box-text>.bottom .chevron {
    font-weight: bold;
    font-size: 1.4em;

    transform: scaleX(0.8) scaleY(2);
}

main>#content>#logos {
    width: var(--stnd-div-width);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main>#content>#logos>.top {
    text-transform: uppercase;    
    font-weight: bold;
    line-height: 36px;
    font-size: 30px;
}

main>#content>#logos>.bottom {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main>#content>#logos>.bottom >.box-img  {
    display: flex;
    align-items: center;
}

main>#content>#logos>.bottom >.box-img >img {
    width: 100%;
    height: auto;
}

footer {
    position:relative;
    bottom: -225px;
    width: 100%;
    height: 600px;

    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--bg-col-head); 
}

footer>.top {
    max-width: 720px;
    height: 304px;

    margin: 90px 0px 100px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* footer>.top>* {

} */

footer>.top>span:nth-of-type(1) {
    font-weight:600;
    font-size: 30px;
    line-height: 36px;

    text-transform: uppercase;
    color: white;
}

footer>.top>span:nth-of-type(2) {
    width: 485px;
    line-height: 17px;

    color: rgb(255, 255, 255, 0.7);
}

footer>.top>.form-box {
    width: 100%;
    height: 59px;

    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;   
}

footer>.top>.form-box>.left  {
    width: 78%;
    height: 59px;

    display: flex;
    align-items: center;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    background-color: var(--bg-col-slider);
}

footer>.top>.form-box>.left>input {
    flex: 1;
    margin-left: 28px;

    outline: none;
    border: none;
    padding: 0px;
    background-color: #00000000;
}

/* footer>.top>div.box>.left>input: {

} */

footer>.top>.form-box>.right {
    width: 23%;
    height: 59px;

    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    color: var(--bg-col-head);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-col-mustard);
}

footer>.top>.box  {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-transform: capitalize;
    color: var(--bg-col-trans-white);
}

footer>.top>.icons {
    text-transform: capitalize;
    color: var(--bg-col-trans-white);

    gap: 36px;
    display: flex;
    flex-direction: row;    
}

footer>.line {
    height: 0.98px;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.15);
}

footer>.bottom {
    width: var(--stnd-div-width);
    height: auto;
}

footer>.bottom>div.box {
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--bg-col-trans-white);
}

footer>.bottom>.box>.right {
    gap: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

footer>.bottom>.box>.right>span {
    display: flex;
    align-items: center;
}

footer>.bottom>.box>.right>span > .chevron {
    margin-left: 5px;
    font-size: 2.4em;
    transform: translateY(3px);
}

footer>.bottom>.up {
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 90px;
    border: 1px solid #ffffff4d;
}

footer>.bottom>.chevron {
    font-size: 2.4em;
    transform: translateY(3px);

    color: var(--bg-col-slider);
}

@media (max-width:550px) {
    body,html {
        background-color: var(--bg-mob-slider);
    }
    #desktop-site  {
        display: none;
    }
    #mobile-site {
        display:flex;
        flex-direction: column;
    }

    .mob-header {
        height: 60px;
        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: var(--bg-col-test);
    }
    .mob-header>* {
        background-color: var(--bg-col-temp);
    }
    .mob-header>.mob-nav { width: 60px; height: auto;}
    .mob-header>.mob-uom { width: 60px; height: auto;}
    .mob-header>.mob-bag { width: 60px; height: auto;}

    .mob-slider {
        height: 600px;
        width: auto;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 30px;

        background-color: var(--bg-mob-slider);
    }
    .mob-slider>.mob-void {
        background-color:var(--bg-col-test);
    }
    .mob-slider>.mob-text {
        width: 270px; 
        height: 134px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        text-transform: uppercase;
    }
    .mob-slider>.mob-text>.mob-top {
        display: flex;
        align-items: center;
        gap: 13px;
        color: var(--red-col-text);
    }
    .mob-slider>.mob-text>.mob-top>.mob-line {
        position: relative;
        width: 40px;
        height: 2px;
        background-color: var(--red-col-text);
    }
    .mob-slider>.mob-text>.mob-middle {
        font-size: 30px;
        font-weight: 400;
    }
    .mob-slider>.mob-text>.mob-bottom>.mob-line {
        position: relative;
        top: 23px;
        width: 96px;
        height: 2px;
        background-color: var(--def-col-blk);
    }
    .mob-slider>.mob-dots {
        width: 132px; 
        height: 30px; 

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mob-slider>.mob-dots>.mob-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--def-col-blk);
    }
    .mob-dot-dot {
        position: absolute;
        width: 18px;
        height: 18px;
    
        border-radius: 50%;
        border: 2px solid var(--def-col-blk);
    }

    .mob-sticky {
        position: sticky;
        height: 55px;
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;

        background-color: var(--bg-col-slider);
    }
    .mob-sec {
        position: sticky;
        height: 50px;
        width: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mob-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mob-content>.mob-box {
        margin-top: 20px;
        height: 6011px;
        width: 384px;

        display: flex;
        flex-direction: column;

        background-color: var(--bg-col-slider);
    }
    .mob-content>.mob-box>.mob-top {height: 135px; width: 100%; background-color: var(--bg-col-temp); }
    .mob-content>.mob-box>.mob-top>.mob-sub-top {
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        text-transform: uppercase;

        margin-top: 20px;
    }
    .mob-content>.mob-box>.mob-top>.mob-sub-top>div:nth-of-type(1) {
        font-size: 30px;
    }
    .mob-content>.mob-box>.mob-top>.mob-sub-top>div:nth-of-type(2) {
        width: 80%; 
        font-weight: 500; 
        line-height: 35px; 
        display: flex; 
        justify-content: space-around;
    }
    .mob-content>.mob-box>.mob-top>.mob-sub-top>div:nth-of-type(3) {
        color: var(--gray-col-text);
    }
    
    .mob-content>.mob-box>.mob-middle {
        height: 600px; 
        width: 100%; 

        gap: 14px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mob-content>.mob-box>.mob-middle>.sub-box {
        width: 185px;
        height: 292px;

        outline: 2px var(--bg-col-test) solid;
    }
    .mob-content>.mob-box>.mob-middle>.sub-box>.sub-top {
        width: 100%;
        height: 210px;

        background-color: var(--bg-col-test);
    }
    .mob-content>.mob-box>.mob-middle>.sub-box>.sub-bottom {
        width: 100%;
        height: 82px;

        font-weight: bold;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .mob-content>.mob-box>.mob-bottom {
        height: 60px; 
        width: 100%; 

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-col-temp);
    }
    .mob-content>.mob-box>.mob-bottom .mob-line {
        width: 100px;
        height: 2px;

        position: relative;
        top: 23px;
        left: 12px;

        background-color: var(--def-col-blk);
    }
    .mob-content>.mob-box>.mob-bottom .text {
        text-transform: uppercase;
    }
    




}