body {
	background-image: url('../images/star-wars-background.jpg');
	font-family: 'Franklin Gothic', Arial, sans-serif;
	color: #ffd54e;
	overflow: hidden;
}
main {
	display: flex;
	justify-content: center;
	font-size: 50px;
}
section {
	width: 1080px;
transform: perspective(20em) translateZ(-900px) rotateX(45deg) ;
}
h2 {
	text-transform:uppercase;
}
h1, h2 {
text-align: center;
}
h1, h2, p {
	letter-spacing: 5px;
	word-spacing: 5px;
}
p {
	line-height: 1.5;
	text-align: justify ;
	white-space: wrap;
}
	
