body {
  background-color: cadetblue;
}
#container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}
header {
  margin: 10px auto;
  width: 80%;
  height: 200px;
  background: linear-gradient(to bottom, cadetblue, lightskyblue);
  position: relative;
}
.icons a {
  width: 40px;
  height: 40px;
  bottom: 20px;
  padding: 10px;
  position: absolute;
}
.icons a:nth-child(1) {
  right: 20px;
}
.icons a:nth-child(2) {
  right: 80px;
}
.icons a:nth-child(3) {
  right: 140px;
}
.icons a:hover {
  filter: drop-shadow(2px 1px 0px red);
}
