body {
	background-color: plum;
	font-family: Arial, Verdana, sans-serif;
	font-size: 20px;
}
#container {
	max-width: 300px;
	margin: 0 auto;
	background-color: lightblue;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	gap: 20px;
	padding: 20px;
}
.sprite {
	background-image: url(../images/navigation-buttons-s.png);
	background-size: 300% 200%;
	width: 75px;
	height: 75px;
}

.sprite:hover {
	cursor: pointer;
} 

#sprite-1 {
	background-position: 0px 0px;
}
#sprite-2 {
	background-position: -75px -0px;
}
#sprite-3 {
	background-position: -150px -0px;
}
#sprite-4 {
	background-position: -0px -75px;
}
#sprite-5 {
	background-position: -75px -75px;
}
#sprite-6 {
	background-position: -150px -75px;
}

