* {
    margin: 0px;
    padding: 0px;
}

body {
background-color: rgb(25, 25, 25);
}

#container {
    max-width: 1600px;
}

.tiles {
    display: grid;
    max-height: 534px;
    background-color: chartreuse;
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    grid-template-rows: repeat(auto, minmax(0px, 267px));
}

img {
    z-index: 1;
    max-width: 100%;
    max-height: auto;
}

.tiles > div:nth-child(1) {
    background-color: rgb(131, 157, 184);
    grid-area: span 1 / span 1;
}

.tiles > div:nth-child(2) {
    background-color:rgb(255, 255, 121);
    grid-area: span 1 / span 1;
}

.tiles > div:nth-child(3) {
    background-color: rgb(131, 157, 184);
    grid-area: span 2 / span 1;
}

.tiles > div:nth-child(4) {
    background-color: rgb(255, 255, 121);
    grid-area: span 2 / span 1;
}

.tiles > div:nth-child(5) {
    background-color: rgb(131, 157, 184);
    grid-area: span 1 / span 2;
}

.tiles > div:nth-child(6) {
    background-color:lightgreen;
    grid-area: span 1 / span 2;
    z-index: 0;
}

.tiles > div:nth-child(7) {
    background-color:lightgreen;
    grid-area: span 1 / span 1;
}

.tiles > div:nth-child(8) {
    background-color:rgb(255, 255, 121);
    grid-area: span 1 / span 1;
}

.banner {   
    display: grid;
    height: 200px;
    background-color: cornflowerblue;
    grid-template-columns: minmax(0px, 1fr) minmax(500px, 1fr) minmax(0px, 1fr); /*waarom is dit horizontaal?*/
}

.banner > div:nth-of-type(2) {
    font-size: 1em;
    color: aliceblue;
    background-color: rgb(40, 47, 53);

    display: flex;
    align-items: center;
    justify-content: center;    
}
.banner > div:nth-of-type(2) > span {
    border:solid aliceblue 1px ;
    padding: 10px 15px 10px 15px;
}

.content {   
    display: grid;
    height: 469px;
    background-color: rgba(255, 255, 255, 0.884);
    grid-template-columns: 1fr minmax(500px, 1fr) 1fr;
}

.content > div:nth-of-type(2) {
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.content > div:nth-of-type(2)>form>input:first-of-type {
    border:solid 1px gray;
    filter: opacity(.55);
    font-style: italic;

    height: 20px;
    width: 95%;
    padding: 5px;
}
.content > div:nth-of-type(2)>form>input:last-of-type {
    border:solid 1px gray;
    filter: opacity(.55);
    font-style: italic;

    padding: 5px 10px;
}

.content > div:nth-of-type(2) > form {
    gap: 5px;
    width: 55%;
    display: flex;
}
@media (max-width:501px) {
    .content > div:nth-of-type(2) > form {
        flex-direction: column;
    }
}
